/* play-styles.css */
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    /* font-family: Arial, sans-serif; */
    font-family: 'Tinos', serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #e6c156;
}
.container {
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}


h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.question {
    font-size: 18px;
    margin-bottom: 10px;
}

.resetButton {
    position: fixed;
    top: 10px;
    left: 10px;
    top: 10px;
    left: 10px;
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    transition-duration: 0.4s;
    cursor: pointer;
}
  
.resetButton:hover {
    background-color: white;
    color: #4caf50;
    border: 2px solid #4caf50;
}
  
.title {
    position: fixed;
    width: 25%;
    top: 0%;
}

ul.options {
    list-style-type: none;
    padding: 0;
}

ul.options li {
    margin-bottom: 10px;
}

label {
    display: block;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

/* input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    position: relative;
}

input[type="radio"] + label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #007BFF;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
} */
/*
input[type="radio"]:checked + label::before {
    background-color: #007BFF;
    border: none;
    content: "✓"; // Display a checkmark 
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
} */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.buttons {
    margin: 10%;
    text-align: center;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.buttons {
    margin: 10%;
    text-align: center;
}

input[type="submit"] {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}