<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='ui.css') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='title.png') }}" alt="Title image" class="title">
    <div class="container">
        
        <h1>Welcome to the Historle</h1>
        <p>Would you like to play?</p>
        <p>Select the number of questions:</p>
        <form method="post" action="{{ url_for('numQuestion') }}">
            <input list="num" name="questionNum">
            <datalist id="num">
                <option value="5">
                <option value="10">
                <option value="15">
            </datalist>
            <p><input type="submit" value="Start Game"></p>
        </form>
    </div>
</body>
</html>
