<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='play-styles.css') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='title.png') }}" alt="Title image" class="title">
    <div class="resetButton">
        <a href="{{ url_for('index') }}">Reset Game</a>
    </div>
    <div class="container">
        <h1>Score: {{session['score']}}</h1>
        <p class="question">Question {{ session['current_question'] + 1 }}: {{ question['question'] }}</p>
        <form method="post">
            <ul class="options">
                {% for option in question['options'] %}
                    <li>
                        <input type="radio" id="option{{ loop.index }}" name="answer" value="{{ option }}">
                        <label for="option{{ loop.index }}">{{ option }}</label>
                    </li>
                {% endfor %}
            </ul>
            <input type="submit" value="Submit" class="btn-hover color-1">
        </form>

    </div>
</body>
</html>
