<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='play-styles.css') }}">
    <script type=text/javascript>
        function submitEvent(){
            if(document.getElementById('option1').checked 
            || document.getElementById('option2').checked
            || document.getElementById('option3').checked
            || document.getElementById('option4').checked ) {
                document.getElementsByClassName("rightLabel")[0].style.backgroundColor = "green";
            }
        }
    </script>
</head>
<body>
    <img src="{{ url_for('static', filename='title.png') }}" alt="Title image" class="title">
    <div class="resetButton">
        <a href="{{ url_for('index') }}">Reset Game</a>
    </div>
    <div class="container">
        <h1>Score: {{session['score']}}</h1>
        <p class="question">Question {{ session['current_question'] + 1 }}: {{ question['question'] }}</p>
        <form method="post">
            <ul class="options">
                {% for option in question['options'] %}
                    <li>
                        {% if option == question['answer']%}
                            <label for="option{{ loop.index }}" class="rightLabel"><input type="radio" id="option{{ loop.index }}" name="answer" value="{{ option }}">{{ option }}</label>
                        {% else %}
                            <label for="option{{ loop.index }}"><input type="radio" id="option{{ loop.index }}" name="answer" value="{{ option }}">{{ option }}</label>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            <input type="submit" value="Submit" class="btn-hover color-1" onclick="submitEvent()">
        </form>

    </div>
</body>
</html>
